{% extends 'base.html' %}

{% block title %}
ABOUT
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

img{
      
      padding-left: 100px;
      
    
  
}
</style>
</head>
<body>

  <h1 class="text-center" style="padding-top: 20px;">ABOUT US</h1>
 
<pre class="text-center">
    Medica Hospital is a multi-speciality hospital that provides best doctors and best services.
    Medica has been ranked as one of the top hospitals in India in healthcare quality and patient satisfaction.
    This hospital has a team of experienced doctors who provide high-quality care to patients. 
    Medica has facilities such as pediatrics, oncology, shoulder and limb surgery, Diabetology , IVF ,Gynecology and many more.
   </li>
<img src="https://img.freepik.com/free-vector/tiny-cardiology-doctor-nurse-examining-heart-blood-pressure-prescribing-treatment-medical-cardiovascular-checkup-flat-vector-illustration-anatomy-hospital-heart-diseases-health-care-concept_74855-20963.jpg?size=626&ext=jpg&ga=GA1.2.1045061698.1671864935&semt=sph" alt="">
</pre>
</body>
</html> 






{% endblock %}
