{% extends 'base.html' %}

{% block title %}
Booking Confirmation
{% endblock %}

{% block content %}

<!--
<div class="conatiner text-center">
<h1>Booking Confirmation</h1>

<img src="" alt="">

<div class="alert alert-info" role="alert">
    We have received your appointement request ,Our reprrsentative will call you shortly!

  </div>

</div>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    img{
      max-width: 1050px;
      max-height: 1050px;
      padding-left: 400px;
      align-content: center;
      padding-top: 75px;
      
      
    }

  </style>
</head>
<body>
  

  <div class="alert alert-info" role="alert">
    We have received your appointement request ,Our Representative will call you shortly!

  </div>
<div class="card" style="width: 100rem;" >
  <img class="card-img-top" src="https://img.freepik.com/free-vector/appointment-booking-with-calendar_52683-39831.jpg?size=626&ext=jpg&ga=GA1.2.1045061698.1671864935" alt="Card image cap">
  <div class="card-body">

    
    
    
  </div>
</div>
</body>
</html>


{% endblock %}